#nombre{
    margin: 15px 0 15px 0px;
    text-transform: uppercase;
    color:#EBE552;
    font-weight: bold;
    font-family: "Anta";
    letter-spacing: 5px;
}

.hero{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}

.text{
    color: #fff;
    font-weight: bolder;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title{
    margin: 15px 0 15px 0px;
    text-transform: uppercase;
    color:#EBE552;
    font-weight: bold;
    font-family: "Anta";
    letter-spacing: 5px;
}

.info h3{
    text-transform: uppercase;
    color:#EBE552;
    font-family: "Anta";
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    aspect-ratio: 1/1;
    width:30vw;
    object-fit: cover;
    border-radius: 100%;
}


.parraf{
    padding:50px;
}

.slider{
    width: 70vw;
    height: 400px;
    display: flex;
    margin: 0 auto;
}

.slider img{
    width: 0;
    object-fit: cover;
    flex-grow: 1;
    opacity: .5;
    transition: .5s ease;
}

.slider img:hover{
    width: 230px;
    opacity: 1;
    cursor: grab;
}

header{
    background-color: #fff;
    padding: 50px;
    transition: .5s ease;
}

.abajo{
    background-color: #EBE552;
    padding: 40px;
}

@media (max-width:618px){
    .hero{
        gap:50px
    }

    .img img{
        aspect-ratio: 1/1;
        width:40vw;
        object-fit: cover;
    }

    .slider{
        height: 150px;
    }

    .slider img:hover{
        width: 100px;
    }
}

@media (max-width:545px){
    .hero{
        gap: 10px;
    }
    
}

@media (max-width:441px){
    .hero{
        padding: 25px;
        gap:5px
    }

    .img img{
        width: 45vw;
    }

    .text{
        font-size: 15px;
    }
}

@media (max-width:395px){
    .text{
        font-size: 10px;
    }
    .slider img:hover{
        width: 50px;
    }
}