<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/contacto.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div class="box">
        <span class="borderline"></span> 
        <form action="/admin" method="post">
            <h2>Contactame</h2>
            <div class="inputbox">
                <input type="text" name="Username" autocomplete="off" required="required">
                <span>Nombre</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" name="Number" autocomplete="off" required="required">
                <span>Numero telefonico</span>
                <i></i>
            </div>
            <div class="links">
                <a href="../index.html">INICIO</a>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>