<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Inconsolata:wght@300;500&family=Roboto+Mono:wght@400;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Inconsolata:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@400;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="css/portafolio.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <title>proyectos</title>
</head>
<body>
    <header>
        <img src="../img/barras.png" id="barras">
        <nav id="nav">
            <a href="../index.html">inicio</a>
            <a href="./portafolio.html">proyectos</a>
            <a href="./acerca_de.html">sobre mi</a>
            <a href="contacto.html">contacto</a>
        </nav>
    </header>
    <div class="proyecto">
        <div class="container">
            <h3>teoria de color</h3>
            <section class="slider">
                <img class="img" src="../img/portafolio/jolyne cujoh_Mesa de trabajo 1.jpg">
                <img class="img" src="../img/portafolio/jolyne cujoh-02.jpg">
                <img class="img" src="../img/portafolio/jolyne cujoh-03.jpg">
                <img class="img" src="../img/portafolio/jolyne cujoh-04.jpg">
                <img class="img" src="../img/portafolio/jolyne cujoh-05.jpg">
                <img class="img" src="../img/portafolio/jolyne cujoh-06.jpg">
            </section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vero debitis cumque. Repellat maiores sit, perspiciatis distinctio tempora quam, alias delectus sapiente aliquid obcaecati fugit modi dolor, hic dignissimos aliquam.
            Commodi quis dolorem ea facere amet nisi atque facilis. Magni debitis non cum ab, nam aspernatur eligendi, fuga dignissimos ipsum ea illo similique? Nihil tempore, rerum aliquid nemo dignissimos corrupti.
            Minus qui assumenda tempora cum iste odit repellat quisquam, voluptatum officia reiciendis nostrum maxime blanditiis? Nesciunt quo quia quasi dolore, asperiores aliquid soluta vitae natus ipsum fuga ullam, perferendis nobis!
        </p>
        </div>
    </div>

    <div class="proyecto">
        <div class="container">
            <h3>vectorización de imagenes</h3>
            <div>
                <img src="../img/portafolio/jolyne examen_Mesa de trabajo 1.jpg" class="img-single ho" id="img-1">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, ipsa soluta reiciendis corporis dolores ipsum necessitatibus laborum. Debitis ad inventore quisquam dolorem veritatis, provident similique aliquid porro suscipit reiciendis blanditiis!
                Tempore corporis illum inventore vero nobis vitae atque ea adipisci, dolor veniam, quam tenetur! Recusandae natus perferendis exercitationem, neque illum hic necessitatibus, ducimus, vitae sunt corrupti aliquid quisquam nemo at!
                Corporis, tempora repellat. Minima, eligendi. Tempore nobis distinctio minus dolores culpa veniam totam, mollitia officiis. Laborum officiis rerum quos beatae incidunt sint, asperiores aliquam, eveniet nostrum maxime impedit fugiat inventore.
            </p>
        </div>
    </div>

    <div class="proyecto">
        <div class="container">
            <h3>afiche con vanguardia del arte</h3>
            <div>
                <img src="../img/portafolio/art deco afiche(full capas).png" class="img-single ver" id="img-2">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, aliquid. Voluptatem numquam veniam sint, asperiores iure magni, amet voluptatibus distinctio non perferendis odio vero earum mollitia assumenda, corrupti a ipsam!
                Praesentium dolores nostrum neque laborum laudantium vero illo aperiam voluptates dolor, quisquam nihil quasi corrupti fugiat ipsa adipisci quos provident! Aspernatur quasi, maxime architecto accusantium nesciunt quae quia officia nemo.
                Nesciunt, id nobis temporibus fuga vitae harum, magnam iusto officia nemo, perspiciatis repudiandae minus tempora obcaecati. Explicabo ipsam ex aut consectetur voluptates quos cumque hic, fugiat, repudiandae nulla saepe vero.
            </p>
        </div>
    </div>

    <div class="proyecto">
        <div class="container">
            <h3>animacion con html y css</h3>
            <div>
                <iframe src="proyects/atardecer/index.html" ></iframe>
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est earum odio, alias hic autem voluptate fugit, ratione nesciunt reprehenderit, maiores quibusdam voluptates repudiandae animi amet! Labore repellendus maiores rerum impedit!
                Mollitia numquam ut fugiat labore, aliquid iure illum deleniti cum! Tempore aliquid unde cum magni assumenda commodi minus quisquam. Nam accusantium sequi porro ea mollitia quod vel? Quibusdam, blanditiis voluptates.
                Incidunt delectus voluptatem quas quod, vero nulla quibusdam autem iure officiis. Sunt, similique in quas neque illum magnam cumque totam delectus provident eligendi consequuntur quod at aspernatur repudiandae? Voluptatem, nihil?
            </p>
        </div>
    </div>

    <div class="proyecto">
        <div class="container">
            <h3>creación de afiches en photoshop</h3>
            <div>
                <img src="../img/portafolio/1200x628.png" class="img-single ho" id="img-4">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum ad optio ipsam omnis recusandae dolorem voluptatum eveniet iste dolores. Consequuntur quam id at mollitia labore est assumenda fugiat corporis?
                Maxime illum atque aperiam ipsam totam molestiae consectetur dicta accusantium iste dolorum molestias amet in officiis assumenda itaque eos deleniti omnis laboriosam, laudantium, vero aliquid nemo. Eaque incidunt corporis ullam.
                Iusto temporibus at consequatur excepturi maxime hic fugit quod quia ducimus, vitae dignissimos nesciunt cumque quis cupiditate est ad asperiores autem ratione iure accusamus facilis molestiae voluptatum quasi! Quisquam, dolor.
            </p>
        </div>
    </div>

    <div class="proyecto">
        <div class="container">
            <h3>creación de afiches en photoshop</h3>
            <div>
                <iframe src="proyects/solYLunaButton/index.html" frameborder="0"></iframe>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laborum ad optio ipsam omnis recusandae dolorem voluptatum eveniet iste dolores. Consequuntur quam id at mollitia labore est assumenda fugiat corporis?
                Maxime illum atque aperiam ipsam totam molestiae consectetur dicta accusantium iste dolorum molestias amet in officiis assumenda itaque eos deleniti omnis laboriosam, laudantium, vero aliquid nemo. Eaque incidunt corporis ullam.
                Iusto temporibus at consequatur excepturi maxime hic fugit quod quia ducimus, vitae dignissimos nesciunt cumque quis cupiditate est ad asperiores autem ratione iure accusamus facilis molestiae voluptatum quasi! Quisquam, dolor.
            </p>
        </div>
    </div>
    <script src="../global.js"></script>
    <script src="js/proyectos.js"></script>
</body>
</html>