.proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #474747;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    z-index: 3;
}


.container{
    z-index: 2;
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: #fff;
}


.ho{
    width: 900px;
    object-fit: cover;
    border-radius: 10px;
}

.ver{
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}


.proyecto h3{
    color: #d7c4f4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider{
    display: flex;
    width: 80vw;
    height: 430px;
    margin: 0 auto;
    object-fit: cover;
}

.slider img{
    width: 0;
    object-fit: cover;
    flex-grow: 1;
    opacity: .8;
    transition: .2s;
}

.slider img:hover{
    width: 300px;
    opacity: 1;
    filter: saturate(125%);
    cursor: crosshair;
}